:root {
  --primary-black: #1c1d22;
  --primary-gray: #eeeeee;
  --white: #fff;
  --title-gray: #888;
  --secondary-gray: #f4f4f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Exo 2', sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
